<div class="row">
  <ul>
    <li><a href="#!home">Home / text from nav.html / formated by index.html/jumbotron text-center</a></li>
    <!-- <li><a href="#!defaultpage">Default / text from nav.html / formated by index.html/jumbotron text-center</a></li> -->
    <!-- <li><a href="#!appList">App List / text from nav.html / formated by index.html/jumbotron text-center</a></li> -->
    <!-- <li><a href=www.google.com>Google</a></li>÷ -->
  </ul>
</div>
<!-- NOTE:  defaultpage OR defaultPage?? -->
<!-- NOTE: From here to client.js -->
