<div class="row">
  <ul>
    <li><a href="#!navHtmlWebAddressMustMatchClientJsWhenFunction">Home / text from nav.html</a></li>

    <li><a href="#!defaultWebpage">Default / text from nav.html</a></li>
    
    <li><a href="#!appList">App List / text from nav.html</a></li>
    <!-- <li><a href=www.google.com>Google</a></li>÷ -->
  </ul>
</div>
<!-- NOTE: From here to client.js -->
<!-- NOTE:  After the #!, this is the exact web address text loaded into the browser -->
<!-- NOTE: nav.html Web Address Must Match Client.js .when Function -->
